## Data Cleaning: IMBD Title Basics

In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
imdb_title_basics = pd.read_csv('../../data/01_raw/imdb.title.basics.csv.gz')

In [3]:
imdb_title_basics = imdb_title_basics.loc[imdb_title_basics['start_year'] < 2019] # restrict movies between 2010-2018
imdb_title_basics.head()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
5,tt0111414,A Thin Life,A Thin Life,2018,75.0,Comedy

The genre column contains a number of different genres. For analysis purposes these need to be split into several different rows.

In [7]:
imdb_title_basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 136702 entries, 0 to 146143
Data columns (total 9 columns):
tconst             136702 non-null object
primary_title      136702 non-null object
original_title     136683 non-null object
start_year         136702 non-null int64
runtime_minutes    109815 non-null float64
genres             131664 non-null object
genres_1           131664 non-null object
genres_2           56456 non-null object
genres_3           28070 non-null object
dtypes: float64(1), int64(1), object(7)
memory usage: 10.4+ MB

In [8]:
imdb_gen_expand = imdb_title_basics.genres.str.split(",", expand=True)

In [9]:
imdb_title_basics['genres_1']=imdb_gen_expand[0]
imdb_title_basics['genres_2']=imdb_gen_expand[1]
imdb_title_basics['genres_3']=imdb_gen_expand[2]
#imdb_title_basics.drop('genres', axis=1, inplace=True)

In [10]:
imdb_title_basics.head()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres,genres_1,genres_2,genres_3
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",Action,Crime,Drama
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,Drama,None,None
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama",Comedy,Drama,None
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",Comedy,Drama,Fantasy
5,tt0111414,A Thin Life,A Thin Life,2018,75.0,Comedy,Comedy,None,None

In [11]:
imdb_title_basics.set_index('tconst', inplace=True)

In [12]:
imdb_title_basics.to_csv('../../data/02_intermediate/imdb_titles_clean.csv')